<div class="header">
    <h1>Admin Login</h1>
</div>

<div class="body">
    <div class="text-center">
        <form asp-action="ProcessAdminLogin">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" /><br /><br />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" /><br /><br />
            <input type="submit" value="Login" />
        </form>
    </div>
</div>

<div class="footer">

</div>
