@model LHScheduler.Models.ActivityModel
@{
    ViewData["Title"] = "EditActivity";
}

<h1>EditActivity</h1>

<h4>ActivityModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" value=@Model.DateTime/>
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityName" class="control-label"></label>
                <input asp-for="ActivityName" class="form-control" value=@Model.ActivityName/>
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityDescription" class="control-label"></label>
                <input asp-for="ActivityDescription" class="form-control" value=@Model.ActivityDescription/>
                <span asp-validation-for="ActivityDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxParticipants" class="control-label"></label>
                <input asp-for="MaxParticipants" class="form-control" value=@Model.MaxParticipants/>
                <span asp-validation-for="MaxParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentParticipants" class="control-label"></label>
                <input asp-for="CurrentParticipants" class="form-control" value=@Model.CurrentParticipants/>
                <span asp-validation-for="CurrentParticipants" class="text-danger"></span>
            </div>
            <input asp-for="ActivityId" class="form-control" value=@Model.ActivityId type="hidden"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProccessAdminLogin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
