<div class="text-center">
    <h1 class="display-4">Admin Login</h1> <br /><br />
    <form asp-action="ProcessAdminLogin">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" /><br /><br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" /><br /><br />
        <input type="submit" value="Login" />
    </form>
</div>