@model LHScheduler.Models.ActivityModel

@{
    ViewData["Title"] = "NewActivity";
}

<h1>NewActivity</h1>

<h4>ActivityModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessNewActivity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label">Date and Time</label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityName" class="control-label">Activity Name</label>
                <input asp-for="ActivityName" class="form-control" />
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityDescription" class="control-label">Activity Description</label>
                <input asp-for="ActivityDescription" class="form-control" />
                <span asp-validation-for="ActivityDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxParticipants" class="control-label">Max Participants</label>
                <input asp-for="MaxParticipants" class="form-control" />
                <span asp-validation-for="MaxParticipants" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProccessAdminLogin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
