@model IEnumerable<LHScheduler.Models.ActivityModel>

<div class="container d-flex flex-wrap">
    @foreach (var activity in Model)
    {
        <div class="card" style="width: 18rem; margin:5px;">
           
            <partial name="_ActivityCard" model="activity" />

        </div>
        
    }
</div>

<div id="PlaceHolderHere"></div>
